{{> header 
  title="About Us" 
  description="This pages is all about us :)"
}}

<p>
  <ul>
    <li><a href="/about/yannick">Yannick</a></li>
    <li><a href="/about/peter">Peter</a></li>
  </ul>
</p>

{{> footer}}